In [5]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json
import pprint
from Config import nasa_key
import datetime

# Import API key
from Config import nasa_key

In [18]:
# Base URL
api_endpoint = f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={nasa_key}"

resp = requests.get(api_endpoint)

if resp.status_code ==200:
        api_data=resp.json()
        data_entries=[]
        
        for entry in api_data['near_earth_objects']:
            
            try:
            # create variable names and grab the data from the resp
                resp_id = entry['id']
                resp_name_limited = entry['name_limited']
                resp_is_potentially_hazardous_asteroid = entry['is_potentially_hazardous_asteroid']
                resp_miss_distance = entry['close_approach_data'][0]['miss_distance']['miles']
                resp_orbiting_body = entry['close_approach_data'][0]['orbiting_body']
                resp_relative_velocity = entry['close_approach_data'][0]['relative_velocity']['miles_per_hour']
                resp_close_approach_date= entry['close_approach_data'][0]['close_approach_date']
                resp_estimated_diameter = entry['estimated_diameter']['miles']['estimated_diameter_max']
            
            
            
            # create a dataframe with keys and values
                data_entries.append({'id':resp_id,
                                 'name': resp_name_limited,
                                 'hazardous': resp_is_potentially_hazardous_asteroid,
                                 'distance': resp_miss_distance,
                                 'orbiting body': resp_orbiting_body,
                                 'velocity': resp_relative_velocity,
                                 'date': resp_close_approach_date,
                                 'diameter': resp_estimated_diameter
                                })
            except Exception as e:
                print(f"Error processing entry: {e}")
                pass
            
        df = pd.DataFrame(data_entries)
        
else:
    print(f"Failed to fetch data. Status code: {resp.status_code}")

In [19]:
df.head(10)

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,Eros,False,29274494.7651919558,Earth,12478.8132604691,1900-12-27,30.436237
1,2000719,Albert,False,158840482.6425908148,Juptr,7708.4220204903,1909-08-21,2.814433
2,2000887,Alinda,False,29796347.8978383466,Earth,15221.6378903555,1910-01-04,6.185730
3,2001036,Ganymed,False,181845412.667573937,Juptr,14101.1189202198,1910-02-25,51.926728
4,2001221,Amor,False,26496951.9500046498,Earth,29682.2744667229,1900-03-08,1.234215
5,2001566,Icarus,True,7853232.208024224,Earth,60414.3684036889,1902-06-11,1.775787
6,2001580,Betulia,False,45141928.863487742,Earth,64169.8803508978,1911-05-07,4.259817
7,2001620,Geographos,True,3151128.481269066,Earth,26312.2352873813,1901-08-23,3.261302
8,2001627,Ivar,False,22917857.931088537,Earth,18753.1540142872,1901-07-11,9.985986
9,2001685,Toro,False,18615769.018699156,Earth,38047.6034464955,1900-08-02,5.051158