In [2]:
# dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json
import pprint
from Config import nasa_key
import datetime


# import API key
from Config import nasa_key

In [10]:
####------------------------- New cell added by Nayoung -------------------------####
## added a new nested for loop to read-in api data from different pages (page=0 to page=4)
## to read-in api data for 1000, we just need to change pageList = nparange(50) later.
## the new nested for-loop worked, but we had a key error ('name_limited').
## it seems like the key 'name_limited' might not exist in some entries of the API response. 
## for the solution, we could add another if-else block to check if the key exists to avoid KeyError..
## OR since we have already the unique "id" variable, we could just remove this variable ('name_limited')..? LOL
## We can discuss this in class today?
## lastly, i imported numpy module to use the arnage function. This code can be moved to the above cell in class..

import numpy as np 

# Base URL
api_endpoint = f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={nasa_key}"

resp = requests.get(api_endpoint)

if resp.status_code ==200:
    
    pageList = np.arange(5)
    
    data_entries=[]
    
    for page in pageList:
        
        page_url = api_endpoint + f"&page={page}"
        api_data = requests.get(page_url).json()
        
        
        for entry in api_data['near_earth_objects']:
            
            try:
            # create variable names and grab the data from the resp
                resp_id = entry['id']
                resp_name_limited = entry['name_limited']
                resp_is_potentially_hazardous_asteroid = entry['is_potentially_hazardous_asteroid']
                resp_miss_distance = entry['close_approach_data'][0]['miss_distance']['miles']
                resp_orbiting_body = entry['close_approach_data'][0]['orbiting_body']
                resp_relative_velocity = entry['close_approach_data'][0]['relative_velocity']['miles_per_hour']
                resp_close_approach_date= entry['close_approach_data'][0]['close_approach_date']
                resp_estimated_diameter = entry['estimated_diameter']['miles']['estimated_diameter_max']
            
            
            
            # create a dataframe with keys and values
                data_entries.append({'id':resp_id,
                                 'name': resp_name_limited,
                                 'hazardous': resp_is_potentially_hazardous_asteroid,
                                 'distance': resp_miss_distance,
                                 'orbiting body': resp_orbiting_body,
                                 'velocity': resp_relative_velocity,
                                 'date': resp_close_approach_date,
                                 'diameter': resp_estimated_diameter
                                })
            except Exception as e:
                print(f"Error processing entry: {e}")
                pass
            
        df = pd.DataFrame(data_entries)
        
else:
    print(f"Failed to fetch data. Status code: {resp.status_code}")

Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'
Error processing entry: 'name_limited'

In [11]:
####------------------------- New cell added by Nayoung -------------------------####
## checking to see if api data from page=0 to page=4 are read or not, and worked!
## however, there was an issue with the key error ('name_limited'), please see above.

df.head(40)

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,Eros,False,29274494.7651919558,Earth,12478.8132604691,1900-12-27,30.436237
1,2000719,Albert,False,158840482.6425908148,Juptr,7708.4220204903,1909-08-21,2.814433
2,2000887,Alinda,False,29796347.8978383466,Earth,15221.6378903555,1910-01-04,6.185730
3,2001036,Ganymed,False,181845412.667573937,Juptr,14101.1187202357,1910-02-25,51.926728
4,2001221,Amor,False,26496951.9500046498,Earth,29682.2744667229,1900-03-08,1.234215
5,2001566,Icarus,True,7853232.208024224,Earth,60414.3684036889,1902-06-11,1.775787
6,2001580,Betulia,False,45141928.863487742,Earth,64169.8803508978,1911-05-07,4.259817
7,2001620,Geographos,True,3151128.4998602272,Earth,26312.2352434672,1901-08-23,3.261302
8,2001627,Ivar,False,22917856.2021105454,Earth,18753.1526966845,1901-07-11,9.985986
9,2001685,Toro,False,18615768.553920126,Earth,38047.6030434455,1900-08-02,5.051158
10,2001862,Apollo,True,24822600.6741127696,Earth,27540.4395202778,1905-10-06,2.235584
11,2001863,Antinous,False,8313139.9819666,Mars,40442.0647706509,1907-10-11,2.988071
12,2001864,Daedalus,False,27574722.1399779688,Earth,50344.132594265,1902-11-17,3.902932
13,2001865,Cerberus,False,31035592.7524750988,Earth,34286.9545244026,1900-05-20,1.619537
14,2001866,Sisyphus,False,41935732.4703685384,Earth,75639.8673721006,1912-12-09,11.412767
15,2001915,Quetzalcoatl,False,2354859.6492410794,Earth,33824.1773988186,1906-03-06,0.906548
16,2001916,Boreas,False,36239276.7685991404,Earth,15563.0019414851,1905-08-25,3.779122
17,2001917,Cuyo,False,41810309.2370648898,Earth,41153.493583164,1907-10-29,4.868453
18,2001943,Anteros,False,38347267.4093291148,Earth,29659.5081098514,1908-04-11,2.663121
19,2001980,Tezcatlipoca,False,44526653.8816123896,Earth,28857.3609572129,1921-07-08,6.214282
20,2001981,Midas,True,34859817.5528080196,Earth,48798.5357518539,1902-04-04,3.246317
21,2002059,Baboquivari,False,33950277.1259201538,Earth,16619.1908194301,1907-10-24,2.351749
22,2002061,Anza,False,20665730.9750197644,Earth,27864.9246273801,1926-08-18,1.688072
23,2002062,Aten,False,11703739.955749485,Earth,25207.225322211,1900-01-19,1.397626
24,2002063,Bacchus,False,43384971.0534391942,Earth,21322.2062557364,1900-06-26,1.322486
25,2002100,Ra-Shalom,False,27275712.3700609244,Earth,41920.4417417423,1902-08-08,2.095998
26,2002101,Adonis,True,17485366.1451945456,Earth,43239.3297629342,1902-07-16,0.665872
27,2002102,Tantalus,True,30581590.758346482,Earth,72306.1289648545,1910-01-05,2.362604
28,2002135,Aristaeus,True,44353492.9989302484,Earth,61375.5837012079,1958-10-17,0.906548
29,2002201,Oljato,True,24928516.2856294836,Earth,33000.5029498643,1900-01-22,3.128895
30,2002202,Pele,False,23395930.6266780806,Earth,17127.3021743071,1913-10-20,1.378450
31,2002212,Hephaistos,False,10959373.7416480464,Venus,65812.1663698727,1905-03-14,7.334845
32,2002329,Orthos,False,45170789.503267204,Earth,52396.969089968,1909-05-16,4.501849
33,2002340,Hathor,True,7401280.1868764864,Merc,39126.8836924822,1901-07-04,0.302964
34,2002368,Beltrovata,False,41263539.0589351034,Earth,3514.7810571662,1919-09-18,3.399311
35,2002608,Seneca,False,16013853.5755503952,Earth,38328.860312178,1905-03-01,1.178667
36,2003102,Krok,False,31732883.7295671814,Earth,20728.7583786328,1921-08-28,2.154721
37,2003103,Eger,False,42402691.741615946,Earth,49241.1751404367,1900-01-08,3.172422
38,2003122,Florence,True,36073850.7292386786,Earth,45389.4982390493,1923-08-08,5.589732
39,2003199,Nefertiti,False,30069922.7840679306,Earth,37033.6950291494,1901-09-08,3.642428

In [18]:
# Base URL
api_endpoint = f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={nasa_key}"

resp = requests.get(api_endpoint)

if resp.status_code ==200:
        api_data=resp.json()
        data_entries=[]
        
        for entry in api_data['near_earth_objects']:
            
            try:
            # create variable names and grab the data from the resp
                resp_id = entry['id']
                resp_name_limited = entry['name_limited']
                resp_is_potentially_hazardous_asteroid = entry['is_potentially_hazardous_asteroid']
                resp_miss_distance = entry['close_approach_data'][0]['miss_distance']['miles']
                resp_orbiting_body = entry['close_approach_data'][0]['orbiting_body']
                resp_relative_velocity = entry['close_approach_data'][0]['relative_velocity']['miles_per_hour']
                resp_close_approach_date= entry['close_approach_data'][0]['close_approach_date']
                resp_estimated_diameter = entry['estimated_diameter']['miles']['estimated_diameter_max']
            
            
            
            # create a dataframe with keys and values
                data_entries.append({'id':resp_id,
                                 'name': resp_name_limited,
                                 'hazardous': resp_is_potentially_hazardous_asteroid,
                                 'distance': resp_miss_distance,
                                 'orbiting body': resp_orbiting_body,
                                 'velocity': resp_relative_velocity,
                                 'date': resp_close_approach_date,
                                 'diameter': resp_estimated_diameter
                                })
            except Exception as e:
                print(f"Error processing entry: {e}")
                pass
            
        df = pd.DataFrame(data_entries)
        
else:
    print(f"Failed to fetch data. Status code: {resp.status_code}")

In [23]:
df

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,Eros,False,29274494.7651919558,Earth,12478.8132604691,1900-12-27,30.436237
1,2000719,Albert,False,158840482.6425908148,Juptr,7708.4220204903,1909-08-21,2.814433
2,2000887,Alinda,False,29796347.8978383466,Earth,15221.6378903555,1910-01-04,6.185730
3,2001036,Ganymed,False,181845412.667573937,Juptr,14101.1189202198,1910-02-25,51.926728
4,2001221,Amor,False,26496951.9500046498,Earth,29682.2744667229,1900-03-08,1.234215
5,2001566,Icarus,True,7853232.208024224,Earth,60414.3684036889,1902-06-11,1.775787
6,2001580,Betulia,False,45141928.863487742,Earth,64169.8803508978,1911-05-07,4.259817
7,2001620,Geographos,True,3151128.481269066,Earth,26312.2352873813,1901-08-23,3.261302
8,2001627,Ivar,False,22917857.931088537,Earth,18753.1540142872,1901-07-11,9.985986
9,2001685,Toro,False,18615769.018699156,Earth,38047.6034464955,1900-08-02,5.051158
10,2001862,Apollo,True,24822610.1741961428,Earth,27540.4453330722,1905-10-06,2.235584
11,2001863,Antinous,False,8313139.9819666,Mars,40442.0647706509,1907-10-11,2.988071
12,2001864,Daedalus,False,27574722.1399779688,Earth,50344.132594265,1902-11-17,3.902932
13,2001865,Cerberus,False,31035592.7524750988,Earth,34286.9545244026,1900-05-20,1.619537
14,2001866,Sisyphus,False,41935733.0188077938,Earth,75639.8676915883,1912-12-09,11.412767
15,2001915,Quetzalcoatl,False,2354859.6492410794,Earth,33824.1773988186,1906-03-06,0.906548
16,2001916,Boreas,False,36239276.7685991404,Earth,15563.0019414851,1905-08-25,3.779122
17,2001917,Cuyo,False,41810309.2370648898,Earth,41153.493583164,1907-10-29,4.868453
18,2001943,Anteros,False,38347271.3971331922,Earth,29659.5108479152,1908-04-11,2.663121
19,2001980,Tezcatlipoca,False,44526653.8816123896,Earth,28857.3609572129,1921-07-08,6.214282

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20 non-null     object
 1   name           20 non-null     object
 2   hazardous      20 non-null     bool
 3   distance       20 non-null     object
 4   orbiting body  20 non-null     object
 5   velocity       20 non-null     object
 6   date           20 non-null     object
 7   diameter       20 non-null     float64
dtypes: bool(1), float64(1), object(6)
memory usage: 1.2+ KB